*{
  margin: 0;
  padding: 0;

}
nav > ul{
  display: flex;
  
}
nav ul li{
  list-style: none;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
}
.dropdown{
  display: none;
  position: absolute;
}
nav > ul > li:hover > ul{
  display: block;
}
nav ul li{
  padding: 0px 20px;
}
